.marquee {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
  // font-size: var(--font-lg);
  user-select: none;
  font-family: "Tourney", system-ui;

  &-content {
    display: flex;
    gap: calc(10vw + 4rem);
    font-family: inherit;
    min-width: 100%;
    flex: none;
    justify-content: space-around;
    color: inherit;
  }

  &-content-item {
    padding-block: 0.5rem;
    font-family: inherit;
    color: inherit;
    width: max-content;
    display: inline-block;
    font-weight: 100;
    mix-blend-mode: difference;
  }
}

.scroll {
  animation: marquee 50s linear infinite;
}

.reverse {
  animation-direction: reverse;
}
