---
const actionButtons = Array(3).fill(null);
const techIcons = Array(12).fill(null);
---
<article class="contents">
  <h2 class="sr-only">My skills</h2>
  <div class="flex flex-wrap gap-8 py-[.7rem] m-[3rem_0_1.5rem_0] justify-center items-center bg-black/25 backdrop-blur-sm ">
    {actionButtons.map(() => (
      <span class="min-w-32 min-h-8 p-2 rounded-md bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse"></span>
    ))}
  </div>
  
  <div class="grid gap-8 p-4 pt-8 relative">
    <div class="justify-self-center grid grid-cols-[repeat(auto-fit,minmax(min(2rem,100%),1fr));] gap-8 w-full xs:grid-cols-6 xs:w-auto md:gap-10">
      {techIcons.map(() => (
        <span class="w-8 h-8 block rounded-md bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse"></span>
      ))}
    </div>
    <div class="text-center w-32 h-6 mx-auto bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse rounded-md">
    </div>
  </div>
</article>

<style>
  @keyframes skeletonPulse {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .as {
    grid-template-columns: repeat(auto-fit, minmax(min(2rem, 100%), 1fr));;
  }
  .animate-pulse {
    background-size: 200% 100%;
    animation: skeletonPulse 1.5s ease-in-out infinite;
  }
</style>