---
const actionButtons = Array(3).fill(null);
const items = Array(6).fill(null);
---
<article class="contents">
  <h2 class="sr-only">My skills</h2>

  <div class="flex flex-wrap gap-8 py-4.5 m-[3rem_0_0.6rem_0] justify-center items-center bg-black/25 backdrop-blur-sm ">
    {actionButtons.map(() => (
      <span class="min-w-32 min-h-8 p-2 py-4 rounded-md bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse"></span>
    ))}
  </div>

  <div class="flex flex-col gap-4 sm:gap-6 py-2 sm:py-4 overflow-x-hidden">
    <div class="h-4 w-60 mx-auto rounded-md bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse z-10 relative mb-1" />
    <div class="w-full max-w-full overflow-hidden bg-white/10 py-6 relative">
      <div class="flex items-center px-4 sm:px-8 overflow-x-hidden scrollbar-none">
        <div class="flex items-center gap-8 sm:gap-16 min-w-max mx-auto">
          {items.map(() => (
            <div
              class="flex items-center justify-center size-12 p-2 sm:p-3 rounded-xl bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse flex-shrink-0"
            />
          ))}
        </div>
      </div>
    </div>
    <div class="h-8 w-32 mx-auto rounded-md bg-gradient-to-r from-gray-300/20 to-gray-400/20 animate-pulse" />
  </div>

</article>

<style>
  @keyframes skeletonPulse {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .animate-pulse {
    background-size: 200% 100%;
    animation: skeletonPulse 1.5s ease-in-out infinite;
  }
</style>