---
import { Icon } from "astro-icon/components";
const waves = 4;
---

<div class="vue-animation relative w-full h-full">
  <div class="w-full h-full flex items-center justify-center">
    <div class="relative z-40">
      <Icon
        class="animate-bounce relative z-50 drop-shadow-[0_0_10px_#19520880]"
        aria-hidden="true"
        name={"learning/vue"}
        width={120}
        height={120}
      />

      <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-20 h-2 bg-black/50 rounded-full shadow-animate"></div>
    </div>
    <slot />
  </div>
  
  <div class="absolute inset-0 [perspective:30rem] [transform-style:preserve-3d]">
    <div class="absolute w-full h-full [transform:rotateX(60deg)] [transform-origin:center_center]">
      {
        Array.from({ length: waves }).map((_, index) => (
          <div
            class="absolute top-11/12 left-1/2 rounded-full -translate-x-1/2 -translate-y-1/2 border-2 border-white/50"
            class:list={`animate-ripple-${index + 1}`}
          ></div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .vue-animation {
    --bounce-duration: 1s;

    & .shadow-animate {
      animation: shadowPulse var(--bounce-duration) ease-in-out infinite calc(var(--bounce-duration) * 0.5);
    }
  
    & .animate-ripple-1 {
      animation: rippleExpand var(--bounce-duration) ease-in-out infinite calc(var(--bounce-duration) * 0.5);
    }
  
    & .animate-ripple-2 {
      animation: rippleExpand var(--bounce-duration) ease-in-out infinite calc(var(--bounce-duration) * 0.75);
    }
  
    & .animate-ripple-3 {
      animation: rippleExpand var(--bounce-duration) ease-in-out infinite calc(var(--bounce-duration) * 1.5);
    }
  
    & .animate-ripple-4 {
      animation: rippleExpand var(--bounce-duration) ease-in-out infinite calc(var(--bounce-duration) * 1.75);
    }
  }


  @keyframes rippleExpand {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    100% {
      width: 400px;
      height: 400px;
      opacity: 0;
    }
  }

  @keyframes shadowPulse {
    0%, 100% {
      transform: scaleX(0.6);
      opacity: 0.3;
      filter: blur(2px);
    }
    50% {
      transform: scaleX(1.2);
      opacity: 0.7;
      filter: blur(4px);
    }
  }
</style>