:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Saira Stencil One", system-ui;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

:where(:not(h1, h2, h3, h4, h5, h6)) {
  font-family: "Source Sans Pro", system-ui, sans-serif;
}

::selection {
  background-color: rgba(255, 166, 0, 0.4);
}

body {
  font-size: var(--font-base);
  margin: 0;
}

img {
  background-color: #d8d8d8;
}

.hero {
  display: grid;
  position: relative;

  @media (width >= 1000px) {
    min-height: 100dvh;
    grid-template-columns: min(50vw, 35rem) 1fr;
  }

  &:has(.grid-side-b) .section {
    display: none;

    & + .footer {
      display: none;
    }

    @media (width >= 1000px) {
      display: block;

      & + .footer {
        display: block;
      }
    }
  }

  &:not(:has(.grid-side-b)) {
    & .hero-header {
      display: none;

      & + .hero-main > .section + .footer {
        margin-top: 8rem;
      }

      @media (width >= 1000px) {
        display: block;

        & + .hero-main > .section + .footer {
          margin-top: 4rem;
        }
      }
    }

    & .nav {
      @media (width >= 600px) {
        top: 5rem;
        transform: translateY(-50%);

        &-list {
          flex-direction: row;
        }
      }
    }
  }

  & .nav-listItem[data-link="home"] {
    @media (width >= 1000px) {
      display: none;
    }
  }
}
