@keyframes simpleFade {
  0% { opacity: 0; }
  100% {opacity: 100; }
}

@keyframes fadeIn {
  0% { opacity: 0; scale: 0; }
  100% { opacity: 1; scale: 1; }
}

@keyframes fadeDescription {
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    user-select: auto;
    translate:  0 0;
    pointer-events: all;
  }
}

@keyframes toUp {
  0% {
    translate: 0 1rem;
    opacity: 0;
  }
  100% {
    translate: 0 0rem;
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

@keyframes slide-bottom{
  0% { 
    transform:translateY(0);
    opacity: 1; 
  }
  100% {
    transform:translateY(3rem);
    opacity: 0;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes scaleAndHidden {
  to {
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes animateBlock {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes textShine {
  to {
    background-position: 400% 0;
  }
}
