// Icons players
.play {
  background-image: url('/src/icons/extras/play.svg');
}

.pause {
  background-image: url('/src/icons/extras/pause.svg');
}

.muted {
  background-image: url('/src/icons/extras/muted.svg');
}

.sound {
  background-image: url('/src/icons/extras/sound.svg');
}

.fullScreen {
  background-image: url('/src/icons/extras/fullScreen.svg');
}

//  Active route
.activeRoute {
  border: solid .15rem #0000003a;
  border-radius: .5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

//  Background image
.bg-image-blur{
  position: relative;
  background-image: url('/src/assets//images/blurBackground.webp');
  background-repeat: no-repeat;
  background-size: cover, 150%;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: .6;
    z-index: -1;
    background: radial-gradient(#202020 1px,#1d1816d2 1px);
    background-size: 3.5px 3.5px;
  }
}

.bg-square {
  background: radial-gradient(#e5e7eb 1px,transparent 1px);
  mask-image:radial-gradient(ellipse 50% 50% at 50% 50%,#000 70%,transparent 100%);
  background-size:16px 16px;
}

//  Position
.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//  Animation 
.u-ani-shake {
  animation:shake 0.8s linear both;
}

//  Others
.resize-none {
  resize: none;
}

.min-h-sm {
  min-height: 10rem;
}

.flex-row {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.u-bold-600 {
  font-weight: 600;
}

.u-text-white {
  color: #fff;
}

.u-text-sm {
  font-size: .8rem;
}

.u-danger-outset {
  outline: rgb(253, 80, 80) solid .15rem;
  outline-offset: .5rem;
}

.u-min-shadow {
  box-shadow: 0 1px 4px rgba(0,0,0,.16);
}

.u-shadow-2 {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.u-skeleton {
  background-color: #d8d8d8;
}
