:root {
  /* Font sizes */
  --font-xs: clamp(0.3rem, 0.10vw + 0.3rem, 0.4rem);
  --font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.25rem);
  --font-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --font-5xl: clamp(3.05rem, 3.54vw + 4.17rem, 7rem);
  --font-9xl: clamp(1.5rem, -7.875rem + 30vw, 9rem);

  // Colors
  --high-light: #ffd900;
  --clr-letter-primary: #000;
  --clr-letter-secondary: #4F4F4F;
  --clr-background: #fffff7;
  --color-gradient1: #42d392;
  --color-gradient2: #647eff;
  --gradient: linear-gradient(135deg, var(--color-gradient1), var(--color-gradient2)); 

  //  Spacing
  --spacing: 5rem;
}

