---
import { Icon } from "astro-icon/components";

const iconsFooter = ["message", "github", "linkedin"];
---

<footer class="flex flex-col @container border-t border-gray-300" transition:name="footer">
  <div class="flex @sm:flex-row flex-col justify-between items-center gap-2 py-8">
    <p class="text-sm tracking-widest font-medium">Developed by WanderleeDev - 2024</p>
    <ul class="flex gap-2 items-center">
      {
        iconsFooter.map((icon) => (
          <li class="footer-item">
            <a href="#" class="footer-link hover:text-high-light transition-colors duration-200" title={`Go to ${icon}`}>
              <Icon
                aria-hidden="true"
                name={`${icon}`}
                width={30}
                height={30}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
