.form {
  --hight-light-form : #851ebf;
  --background-input: #f8eeff;

  display: grid;
  gap: 0 1rem;
  margin-inline: auto;
  width: 100%;
  grid-template-columns: 1fr auto;
  color: #1613289c;
  background-color: #161328;
  border: solid 1px;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1rem;

  &-question {
    position: relative;
    display: grid;
    gap: 0.5rem;
    border: solid 1px;
    margin-bottom: 1rem;
  }

  &-label {
    font-weight: 600;
    position: absolute;
    padding-top: .4rem;
  }

  &-input {
    padding-block: 0.5rem;
    width: 100%;
    background-color: var(--background-input);
    appearance: initial;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding-left: .2rem;
    font-weight: 600;

    &::placeholder {
      font-weight: 600;
      opacity: .6;
    }
  }

  &-check {
    padding-bottom: 1rem;
    accent-color: var(--hight-light-form);
  }

  &-btnSubmit {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: var(--background-input);
    min-width: 10rem;
    width: fit-content;
    padding: .5rem;
    transition: background-color .15s linear, color .15s linear;
    border-radius: .3rem;
    
    &:hover {
      background-color: var(--hight-light-form);
      color: var(--background-input);
    }
  }
}

.eye {
  grid-area: 1/2/4/end;
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
}