---
import { Icon } from "astro-icon/components";
import BannerByteCode from "./BannerByteCode.astro";

const iconsFooter = ["message", "github", "linkedin"];
---

<footer class="footer" transition:name="footer">
  <BannerByteCode />
  <div class="footer-content">
    <p>Desarrollado por WanderleeDev - 2024</p>
    <ul class="footer-list">
      {
        iconsFooter.map((icon) => (
          <li class="footer-item">
            <a href="#" class="footer-link" title={`ir a ${icon}`}>
              <Icon
                aria-hidden="true"
                name={`extras/${icon}`}
                width={30}
                height={30}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<style lang="scss">
  .footer {
    --top-spacing: 0.5rem;
    position: relative;
    border-top: solid 0.1rem currentColor;
    margin: 4rem 0 1rem 0;
    padding-block: 0.5rem;
    font-size: var(--font-sm);
    container: footer / inline-size;

    &::before,
    &::after {
      right: 0;
      position: absolute;
      content: "";
      height: 0.05rem;
      background-color: currentColor;
    }

    &::after {
      top: calc(var(--top-spacing) * -2);
      width: 70%;
    }

    &::before {
      top: calc(var(--top-spacing) * -4);
      width: 40%;
    }
    
    &-content {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
    }

    &-list {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
    }

    &-item {
      transition: color 0.2s linear;
      &:hover {
        color: var(--high-light);
      }
    }

    &-link {
    }
  }

  @container footer (min-width : 600px) {
    .footer-content {
      flex-direction: row;
      gap: 2rem;
    }
  }
</style>
