---

---

<div id="form" class="form-container">
  <form class="form-content" autocomplete="off">
    <fieldset class="form-fieldset">
      <legend class="form-legend">Para WanderleeDev : </legend>
      <label class="form-label" for="author">Tu nombre (opcional)</label>
      <input class="form-input" type="text" id="author" name="author" />
      <label class="form-label mark" for="message">Mensaje y contacto</label>
      <textarea name="message" id="message" class="form-input"></textarea>
      <button class="form-button" type="submit">Enviar mensaje</button>
    </fieldset>
  </form>
</div>

<style>
  .form-container {
    width: min(50rem, 100%);
    margin: auto;
    background-color: #f3e4ea;
    border-radius: 0.25rem;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    margin-block: 3rem;

    @media (width >= 600px) {
      margin-block: 4rem;
    }
  }

  .form-content {
    color: brown;
  }

  .form-fieldset {
    border: 4px dotted brown;
    padding: 1.25rem;

    & textarea {
      min-height: 7rem;
    }
  }

  .form-legend {
    padding: 0 0.5rem;
    font-style: italic;
    margin: 0 -0.5rem;
    font-weight: bold;
  }

  .form-label {
    width: fit-content;
    font-size: 1rem;
    position: relative;
  }

  .mark:after {
    position: absolute;
    content: "*";
    color: #f87171;
    top: 50%;
    right: 0;
    transform: translate(150%, -50%);
  }

  .form-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    outline: none;
    background-color: #fff;
  }

  .form-input:focus {
    box-shadow: 0 0 0 2px brown;
  }

  .form-button {
    width: 100%;
    border-radius: 0.25rem;
    background-color: brown;
    color: #eef2ff;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
  }

  .form-button:hover {
    background-color: #c93535;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background: rgb(90, 22, 22);

      &:hover {
        background: rgb(90, 22, 22);
      }
    }
  }
</style>

<script>
  import { validateMessage } from "../../pages/api/email/message.schema";

  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector(".form-content");
    const formBtn = form?.querySelector(".form-button");

    const handleSubmit = async (e: Event) => {
      e.preventDefault();

      if (
        !(form instanceof HTMLFormElement) ||
        !(formBtn instanceof HTMLButtonElement)
      ) {
        return console.error("Form or button not found");
      }

      formBtn.disabled = true;
      formBtn.textContent = "Enviando...";
      
      try {
        const parseData = validateMessage(
          Object.fromEntries(new FormData(e.target as HTMLFormElement))
        );

        await fetch("/api/email", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(parseData),
        });
      } catch (error) {
        if (error instanceof Error) return console.log(error.message);

        console.log(`Something went wrong: ${error}`);
      } finally {
        formBtn.disabled = false;
        formBtn.textContent = "Enviar mensaje";
        form.reset();
      }
    };

    form?.addEventListener("submit", async (e) => await handleSubmit(e));
  });
</script>
