---
import type { IProject } from "../../interfaces/IProject.interface";
import CardProject from "./CardProject.astro";

interface Props {
  projects: IProject[]
}

const { projects } = Astro.props;
---

<div class="gallery">
  <div class="gallery-projects">
    {projects.map((project) => <CardProject project={project} />)}
  </div>
</div>

<style lang="scss">
  .gallery {
    container: gallery / inline-size;

    &-projects {
      display: grid;
      gap: 4rem 2rem;
      justify-items: center;
    }
  }

  @container gallery (min-width : 600px) {
    .gallery-projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
