---
import type { IProject } from "../../interfaces/IProject.interface";

type Props = Pick<IProject, "links">;

const { links } = Astro.props;
---

<div class="group">
  {
    Object.entries(links).map(([key, value]) => (
      <a
        class="group-link"
        href={value}
        target="_blank"
        rel="noopener noreferrer"
        title={`Ver ${key}`}
      >
        {key}
      </a>
    ))
  }
  <a class="group-link" href="/" title={`Volver atrás`}> Volver atrás </a>
</div>

<style lang="scss">
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    color: var(--accent-color);

    @media (width >= 800px) {
      gap: var(--spacing);
      grid-area: 2 / 1 / 3 / 3;
      font-size: 1.2rem;
    }

    &-link {
      font-family: inherit;
      font-weight: 800;
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      text-transform: uppercase;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color;
    }

    &-link:focus:after,
    &-link:hover:after {
      width: 100%;
      left: 0%;
    }

    &-link:after {
      content: "";
      pointer-events: none;
      bottom: -2px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: currentColor;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
    }
  }
</style>
