---
import { Icon } from "astro-icon/components"
---

<nav class="navProjects" transition:name="navGrid">
  <button class="navProjects-btn u-shadow-2" type="button" aria-label="cambiar vista de la lista">
    <Icon aria-hidden="true" name={`extras/list`} width={25} height={25} />
  </button>
  <ul class="navProjects-list u-shadow-2">
    <li class="navProjects-item">
      <a href="/projects">a</a>
    </li>
    <li class="navProjects-item">
      <a href="/projects/sideB">a</a>
    </li>
    <li class="navProjects-item">
      <a href="/projects/sideC">a</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .navProjects {
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;

    &-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
      border-radius: .5rem;
      cursor: pointer;
      border: solid .15rem #0000003a;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      &:hover {
        color: var(--high-light);
      }
    }

    &-list {
      right: 5rem;
      position: absolute;
      // bottom: -100%;
      display: flex;
      gap: 2rem;
      backdrop-filter: blur(.2rem);
      background-color: rgba(0, 0, 0, 0.267);
      padding: 1rem;
      z-index: 10;
      border-radius: .5rem;
    }

    &-item {
      width: 2rem;
      height: 2rem;
      padding: .5rem;
      border: solid .15rem #0000003a;
      border-radius: .5rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
</style>