---
import { Image } from "astro:assets";
import type { IProject } from "../../interfaces/IProject.interface";

type Props = Pick<IProject, "image" | "title">;

const { image, title } = Astro.props;
---

<figure class="photo">
  <div class="photo-wrapper">
    <Image
      class="photo-image"
      transition:name={title}
      src={image}
      width={396}
      height={252}
      alt={title}
    />
    <figcaption class="photo-title">{title}</figcaption>
  </div>
</figure>

<style lang="scss">
  .photo {
    user-select: none;
    justify-self: center;
    --deg: -5deg;

    @media (width >= 800px) {
      align-self: center;
      grid-area: 1 / 2 / 2 / 3;
    }

    &-wrapper {
      position: relative;
      z-index: 0;

      &:hover .photo-title {
        transform: translate(-95%, -40%) rotate(var(--deg)) translateY(1rem);
        opacity: 1;
      }
    }

    &-image {
      margin-inline: auto;
      transform: rotate(var(--deg)) translateY(1rem);
      border: 0.3rem outset white;
      width: 15.5rem;
      height: 10rem;

      @media (width >= 900px) {
        border: 1rem outset white;
        width: 396px;
        height: auto;
      }
    }

    &-title {
      display: none;
      font-size: 0.9rem;
      position: absolute;
      left: 0;
      top: 50%;
      opacity: 0;
      transform: translate(10%, -40%) rotate(var(--deg)) translateY(1rem);
      color: black;
      background-color: rgb(241, 240, 162);
      text-spacing: normal;
      letter-spacing: -0.25rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-wrap: nowrap;
      padding: 0.5rem 0.3rem;
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      transition:
        transform 0.2s linear,
        opacity 0.3s linear;
      z-index: -1;

      @media (width >= 1000px) {
        display: block;
      }
    }
  }
</style>
