---
import NotFoundLayout from "../layouts/NotFoundLayout.astro";
import Image from "astro/components/Image.astro";
import Picture from "astro/components/Picture.astro";

const { href } = Astro.url;
---

<NotFoundLayout>
  <section class="grid place-content-center h-screen bg-[#040205] text-white">
    <Image
      class="sm:block hidden relative aspect-square max-w-[40rem] bg-cover"
      src='https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&st=s8yp9tq4&dl=0https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&st=s8yp9tq4&raw=1'
      alt="404"
      width={400}
      height={400}
    />

    <Image
      class="block sm:hidden relative aspect-square max-w-[40rem] bg-cover mx-auto"
      src='https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&st=s8yp9tq4&dl=0https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&st=s8yp9tq4&raw=1'
      alt="404"
      width={200}
      height={200}
    />

    <h1 class="font-semibold text-center text-2xl">NOT FOUND</h1>
    <p class="p-4 text-center text-sm font-semibold">
      The route you want to access does not exist:
      <span class="block mt-2 ml-2 underline cursor-not-allowed text-[var(--high-light,#ffd900)]">
        {href}
      </span>
    </p>
    <a
      href="/"
      class="mx-auto w-fit text-[#303030] py-2 px-4 my-4 rounded-lg font-bold cursor-pointer bg-gradient-to-r from-[#f51dc1] to-[#2dfafa] transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95"
      aria-label="Back to home"
      title="Back to home"
    >
      Back to Home
    </a>
  </section>
</NotFoundLayout>