---
import NotFoundLayout from "../layouts/NotFoundLayout.astro";
import notFoundImage from "../assets/images/404.webp";

const { href } = Astro.url;
---

<NotFoundLayout>
  <section class="grid place-content-center h-screen bg-[#040205] text-white">
    <div
      class="relative aspect-square max-w-[40rem] bg-no-repeat bg-cover border-[#040205]"
      style={`background-image: url(${notFoundImage.src});`}
    >
    </div>
    <h1 class="font-semibold text-center text-2xl">NOT FOUND</h1>
    <p class="p-4 text-center text-sm font-semibold">
      The route you want to access does not exist:
      <span class="block mt-2 ml-2 underline cursor-not-allowed text-[var(--high-light,#ffd900)]">
        {href}
      </span>
    </p>
    <a
      href="/"
      class="mx-auto w-fit text-[#303030] py-2 px-4 my-4 rounded-lg font-bold cursor-pointer bg-gradient-to-r from-[#f51dc1] to-[#2dfafa] transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95"
      aria-label="Back to home"
      title="Back to home"
    >
      Back to Home
    </a>
  </section>
</NotFoundLayout>