---
import PageLayout from "../layouts/PageLayout.astro";
import Form from "../modules/contact/Form.astro";
import Heading from "../modules/projects/components/Heading.astro";

---

<PageLayout headerPage="📬 Contact" >
  <section class="pt-20 flex flex-col gap-4" >
    <Heading headingName="📬 Contact" typeHeading="h2" color="brown" />

    <p>
      Let's get in touch to develop a project together and share knowledge. I will be waiting for your contact.
    </p>

    <div class="my-8">
      <Form />
    </div>
  </section>
</PageLayout>