.buttons {
  display: flex;
  gap: 2rem;
  margin: 3rem 0 1.5rem 0;
  padding-block: 0.7rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  backdrop-filter: blur(0.2rem);

  &-btn {
    font-size: 1rem;
    min-width: 8rem;
    min-height: 2rem;
    padding: 0.3rem 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.1s linear, color 0.1s linear;

    &:hover {
      @extend .activeFilter;
    }
  }
}

.activeFilter {
  font-weight: 600;
  color: var(--high-light);
  background-color: rgba(0, 0, 0, 0.227);
  border-radius: 0.5rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.493);
}
