.gallery {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  padding-top: 2rem;

  &-icons {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 3rem);
    gap: 2rem;
  }
  
  &-img {
    height: 2rem;
    transition: transform .2s linear;
    background-color: transparent;
    object-fit: contain;
    aspect-ratio: 1/1;
    
    &:hover {
      transform: translateY(-.4rem);
      filter: drop-shadow(-2px 0px 9px currentColor); 
    }
  }
  
  &-title {
    text-align: center;
    font-weight: 600;
    font-size: var(--font-sm);
  }
}

.scroll {
  height: fit-content;
  font-weight: 600;
  color: aquamarine;
  position: absolute;
  left: 50%;
  transform: rotate(90deg);
  z-index: -1;
}

.top-10 {
  top: 10%;
  rotate: 9deg;
}

.top-30 {
  top: 30%;
  rotate: -5deg;
}
