---
import "../assets/scss/style.scss";
//  Fonts
import "@fontsource/saira-stencil-one";
import "@fontsource/source-sans-pro";
import "@fontsource-variable/sixtyfour/bled.css";
import '@fontsource/tourney/100.css';

//  Astro utilities
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Metadata from "../components/astro/Metadata.astro";

interface Props {
  headerPage: string;
}

const { headerPage } = Astro.props;
---

<html lang="es" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Porfolio | ${headerPage ?? ""}`}</title>
    <link
      transition:persist
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <ViewTransitions fallback="swap" />
    <Metadata />
  </head>
  <slot />
</html>
