---
import "../styles/global.css"
//  Fonts
import "@fontsource/saira-stencil-one";
import "@fontsource/source-sans-pro";
import "@fontsource-variable/sixtyfour/bled.css";
import '@fontsource/tourney/100.css';

//  Astro utilities
import ClientRouter from "astro/components/ClientRouter.astro";
import Metadata from "../shared/components/Metadata.astro";
import ThemeProvider from "../shared/components/ThemeProvider.astro";

interface Props {
  headerPage: string;
}

const { headerPage } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Porfolio | ${headerPage ?? ""}`}</title>
    <link
      transition:persist
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <ClientRouter fallback="swap"  />
    <ThemeProvider />
    <Metadata />
  </head>
  <slot />
</html>
