---
import Footer from "../shared/components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
import PersonalCard from "../modules/profile/components/PersonalCard.astro";
import ResumeProfile from "../modules/profile/components/ResumeProfile.astro";
import GallerySkeleton from "../modules/technologies/components/GallerySkeleton.astro";
import GalleryTech from "../modules/technologies/components/GalleryTech";
import backgroundBlur from "../assets/images/blurBackground.webp";
import { Navbar } from "../shared/components/Navbar";
import { fade, slide } from "astro:transitions";

const { headerPage } = Astro.props;

---

<BaseLayout headerPage={headerPage}>
  <body>
    <div class="hero">
      <header
        class="hero-header overflow-hidden relative bg-no-repeat min-h-dvh z-10 text-white"
        style={`background-image: url(${backgroundBlur.src});`}
        transition:persist="header"
      >
      
        <div class="bg-grid w-full h-full opacity-90 pt-12">
          <PersonalCard >
            <ResumeProfile />
          </PersonalCard>
          <GalleryTech client:only>
            <GallerySkeleton slot="fallback" />
          </GalleryTech>
        </div>
      </header>

      <main
        class="hero-main bg-[url(../assets/images/pattern.webp)] dark:bg-[url(../assets/images/pattern-dark.webp)] dark:text-gray-200 transition-all duration-500 grid-side-b"
      >
        <Navbar client:only />

        <slot />
        
        <Footer />
      </main>
    </div>  
  </body>
</BaseLayout>

<style >
  .hero-header {
    background-size: cover, 150%;
    
    @media (width >= 1000px) {
      height: initial;
    }
  }
  
  .bg-grid {
    background: radial-gradient(#202020 1px, #1d1816d2 1px);
    background-size: 3.5px 3.5px;

    @media (width >= 1000px) {
      padding-top: 5rem;
    }
  }
</style>
