---
import BaseLayout from "./BaseLayout.astro";
import Heading from "../components/astro/Heading.astro";

interface Props {
  title?: string;
  headerPage: string;
  color?: string;
  sectionDescription?: string;
}

const { title, headerPage, color, sectionDescription } = Astro.props;
---

<BaseLayout headerPage={headerPage} >
  <section class="section" transition:name="description-section">
    {title && <Heading headingName={title} typeHeading="h2" color={color} />}
    {
      sectionDescription && (
        <p class="section-description">{sectionDescription}</p>
      )
    }
    <div class="section-content">
      <slot />
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .section {
    padding-top: var(--spacing);
    animation: toUp 0.7s ease-in-out;

    &-description {
      font-size: var(--font-base);
      margin-block: 2rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
</style>
